*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1{
    margin-left: 42%;
    padding: 10px;
    color: rgb(143, 143, 143);
}

.container{
    min-height: 100vh;
    width: 100vw;
    padding: 23px;
    background-color: #292a2d;
}

#input-box{
    border: 1px solid black;
    padding: 23px;
}

input, textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: white;
}

button{
    background: transparent;
    color: rgb(161, 161, 161);
    padding:8px 12px ;
    border: 1px solid rgb(161, 161, 161);
}

#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
}


.note{
    width: 300px;
    padding: 12px;
    color: #a1a0a0;
    margin: 12px;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
}

.deleteNote{
    float: right;
    margin-top: auto;
}

.title{
    margin-top: 10px;
}

.date{
    border: 1px solid rgb(161, 161, 161);
    display: inline;
    padding: 3px;
}